@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: kadwa;
}

/* Subtitulo Contacto */

.container, .container-2{
    display: block;
    max-width: auto;
    max-height: 100px;
    margin-top: 2em;
}

.container h2{
    font-size: 2.5em;
    color: #000000;
    padding-left: 2em;
    margin-bottom: -0.5em;
    font-family: 'Anton', 'Oswald', 'Roboto Condensed', sans-serif;
}
.container-2 h2{
    font-size: 2.5em;
    color: #000000;
    padding-left: 2em;
    margin-bottom: -0.5em;
    font-family: 'Anton', 'Oswald', 'Roboto Condensed', sans-serif;
    
}

.container span, .container-2 span{
    font-family: 'Arial Black', sans-serif;
    color: white;
    text-shadow: 
        -2px -2px 0 black,  
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
    position: relative;
}

.contacto-barra{
    background-color: #FE0008;
    height: 1em;
    width: 23%;
    margin-top: 15px;
    margin-left: 65px;
    padding-left: 1em;
}

.contacto-barra-2{
    background-color: #FE0008;
    height: 1em;
    width: 33%;
    margin-top: 15px;
    margin-left: 65px;
    padding-left: 1em;
}

/* Atención de consultas */
.consultas{
    max-width: 850px;
    margin: 2rem 0 2rem auto;
    margin-left: 60px;
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 1px;
}

.consultas p{
    font-size: 1.2em;
    line-height: 0.5em;
}

/* Medio de pago */
.medio_pago{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    height: auto;
    border: 2px solid #FE0008;
    border-radius: 1em;
    padding: 1rem;
    gap: 1rem;
    margin: 1.5rem auto;
    margin-left: 230px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-top: -30px;
}

.medio_pago:hover, .medio_pago_2:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.medio_pago i, .medio_pago_2 i {
    font-size: 3em;
    color: #FE0008;
}

.medio_pago p, .medio_pago_2 p {
    font-size: 1.2em;
    color: #333;
    text-align: center;
}

/* Formulario */
.container-form {
    max-width: 600px;
    margin: 2rem auto;
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
}

.form_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.form_grid label {
    font-size: 1.2em;
    font-weight: bold;
}

.form_input input {
    width: 97%;
    padding: 0.75rem;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

.form_input input:focus {
    border-color: #2C3197;
    outline: none;
}

/* Estilo de cada input */
.form_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.form_input label {
    font-size: 1em;
    margin-bottom: 0.3em;
    font-weight: normal;
}

.form_input label{
    font-size: 1.2;
}

.form_input input{
    padding: 0.5em;
    border: 1.5px solid black;
    border-radius: 0.75em;
    background-color: transparent;
    font-size: 1.1em;
}

.caducidad{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.caducidad input{
    padding: 0.5em;
    border: 1.5px solid black;
    border-radius: 0.75em;
    background-color: transparent;
    font-size: 1.1em;
    width: 30%;
}

.form_input_chexbox{
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-left: 7em;
    gap: 0.8em;
}

.form_input_chexbox p, .form_input_chexbox a{
    font-size: 0.9em;
    color: black;
}

/* Botón */
.boton {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.enviar {
    padding: 0.75rem 4rem;
    font-size: 1em;
    background-color: #FE0008;
    border: none;
    border-radius: 50px;
    margin-left: -1100px;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* Hacemos que el botón sea posicionable */
    top: -6px;
}

.enviar:hover {
    background-color: #c00006;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.medio_pago_2{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    height: auto;
    border: 2px solid #FE0008;
    border-radius: 1em;
    padding: 1rem;
    gap: 1rem;
    margin: 1.5rem auto;
    margin-left: 70px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

/*===========================================*/

/* RESPONSIVE DESIGN */
@media (max-width: 1024px) { /* Laptops pequeñas */
    .container h2, .container-2 h2 {
        font-size: 2em;
    }
    .contacto-barra {
        width: 30%;
    }
    .contacto-barra-2 {
        width: 45%;
        
    }
    .consultas {
        max-width: 80%;
        margin: 1.5em;
    }
    .consultas p {
        font-size: 1.1em;
    }
    .medio_pago, .medio_pago_2 {
        max-width: 30%;
    }
    .medio_pago i, .medio_pago_2 i {
        font-size: 2.5em;
    }
    .form_grid label {
        font-size: 1.3em;
    }
    .form_input input {
        font-size: 1em;
    }
    .enviar {
        font-size: 0.9em;
        padding: 1.4em 9em;
        margin-left: -1px;
    }
}

@media (max-width: 768px) { /* Tablets */
    .container h2, .container-2 h2 {
        font-size: 1.8em;
        padding-left: 0.5em;
        margin-left: 50px;
    }
    .contacto-barra {
        width: 30%;
    }
    .contacto-barra-2 {
        width: 44%;
        
    }
    .consultas {
        max-width: 90%;
    }
    .consultas p {
        font-size: 1em;
    }
    .medio_pago, .medio_pago_2 {
        max-width: 40%;
    }
    .medio_pago i, .medio_pago_2 i {
        font-size: 2em;
    }
    .form_grid label {
        font-size: 1.2em;
    }
    .form_input input {
        font-size: 0.9em;
    }
    .enviar {
        font-size: 0.8em;
        padding: 1.4em 9em;
        margin-left: -1px;
    }
    
}

@media (max-width: 480px) { /* Celulares más pequeños */
    .container h2{
        font-size: 1.5em;
        text-align: center;
        margin-left: -151px;
    }
    .container-2 h2 {
        font-size: 1.5em;
        text-align: center;
        margin-left: -60px;
        margin-top: 0px;
    }
    .contacto-barra{
        width: 60%;
        margin-left: 1px;
    }
    .contacto-barra-2 {
        width: 85%;
        margin-left: 1px;
    }
    .consultas {
        max-width: 100%;
        margin: 1em;
    }
    .consultas p {
        font-size: 0.9em;
        line-height: 1.2em;
    }
    .medio_pago, .medio_pago_2 {
        max-width: 70%;
        margin-left: 1;
        padding-left: 1em;
        margin-left: 40px;
    }
    .medio_pago i, .medio_pago_2 i {
        font-size: 1.5em;
    }
    .medio_pago p, .medio_pago_2 p {
        font-size: 0.9em;
    }
    .container-form {
        max-width: 260px;
        margin: 2rem auto;
        background: #ffffff;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-left: 16px;
    }
    
    .form_grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-left: -15px;
    }
    .form_grid  {
        font-size: 1em;
        font-weight: bold;
    }
    .form_input input {
        width: 90%;
        padding: 0.75rem;
        border: 1.5px solid #ccc;
        border-radius: 8px;
        font-size: 1em;
        transition: border-color 0.3s ease;
    }
    .form_input input:focus {
        border-color: #2C3197;
        outline: none;
    }
    .form_input_chexbox{
        display: flex;
        align-items: center;
        margin-top: -1.5em;
        margin-left: 2em;
        gap: 0.8em;
    }
    .caducidad{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }
    .caducidad input{
        padding: 0.5em;
        border: 1.5px solid black;
        border-radius: 0.75em;
        background-color: transparent;
        font-size: 1.1em;
        width: 30%;
    }
    .form_input_chexbox p, .form_input_chexbox a{
        font-size: 0.9em;
        color: black;
    }
    .form_input input {
        font-size: 0.8em;
    }
    .enviar {
        font-size: 1.2em;
        padding: 0.4em 3em;
        margin-left: 0;
        margin-top: 7px;
    }
    .boton {
        justify-content: center;
        margin-top: 20px;
    }
}
